.lotto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #1b1b1f;
  padding: 2rem;
  gap: 1rem;
}

.number-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

li {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 20px 20px, #ff5c6ad3, #000);
  justify-content: space-evenly;
  border-radius: 100%;
}

li p {
  font-size: 2rem;
  font-weight: bold;
}
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
button {
  padding: 1rem;
  background: linear-gradient(100deg, #ff5c6a 0%, #ffcd1e 100%);
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 0.3rem;
}